# 环境变量示例
MODEL_NAME=your_model_name
OPENAI_API_KEY=your_openai_api_key
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_BASE_HTTP=https://api.dashscope.com/v1
DASHSCOPE_BASE_WEBSOCKET=wss://ws.dashscope.com/v1
SEARCH_API_KEY=your_search_api_key
SEARCH_API_URL=https://your.search.api
SEARCH_SCENE=your_search_scene
REWRITER_HTTP=https://your.rewriter.api
REWRITER_API_KEY=your_rewriter_api_key
REWRITER_MODEL_NAME=your_rewriter_model
JINA_API_KEY=your_jina_api_key
OPENAI_BASE_HTTP=https://api.openai.com/v1/chat/completions
